# Environment and Secret Credentials
.env
.env.local
.env.*.local

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# SQLite databases
*.db
*.sqlite3

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & Archives
*.log
*.zip

.vercel
